@charset "utf-8";
/*css document*/
*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 12px;
    font-family: "微软雅黑";
}
#article{
    width: 1024px;
    height: 673px;
    background: url("../images/case4.jpg") no-repeat;
    margin: 0 auto;
    overflow: hidden;
}
h1{
    text-align: center;
    margin-bottom: 10px;
}
.wrap{
    width: 520px;
    height: 375px;
    background: linear-gradient(#4A8ACA,#ffffff);
    margin: 227px 0 0 320px;
    border-radius: 10px;
    overflow: auto;
    text-indent: 2em;
    line-height: 26px;
	opacity:0.7;
}
.content{
    margin: 20px;
}