@charset "utf-8";
/*css document*/
*{margin:0;padding:0;}
body{
    font-family:"微软雅黑";
    font-size:12px;
    background: url("../images/1.jpg");
}
img{
	border:0;
}
.top{
    width: 100%;
    height: 36px;
    background: #e8e8e8;
}
.top_content{
    width: 990px;
    margin: 0 auto;
}
.top_content li{
    width: 90px;
    line-height: 36px;
    float: right;
    text-align: center;
    list-style-type:none;
}
.top_content a:link,.top_content a:visited{
    color: #666666;
    text-decoration: none;
    font-size: 14px;
}
.top_content a:hover,.top_content a:active{
    color:mediumvioletred;
    text-decoration: underline;
    font-size: 14px;
}
.wrap{
    width: 990px;
    height: 560px;
    margin: 50px auto;
    border-radius: 15px 10px 15px 10px ;
    background: url("../images/bg2.jpg") no-repeat;
}
.logo{
    height: 120px;
    /*overflow: hidden;*/
}
.logo_left{
    float: left;
    margin: 10px;
    line-height: 100px;
}
.logo_left a{
	width: 128px;
	height: 118px;
	display: block;
	transition:all 0.5s linear;
}
.logo_left a:hover{
	border-radius: 5px;
	background: #e8e8e8;
	transition: all 0.5s linear;
}
.logo_right{
    line-height: 100px;
    float: right;
    margin-right: 10px;
}
.logo_right .qq{
    font-size: 16px;
    color: #ffffff;
}
.logo_right a:link,.logo_right a:visited{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}
.logo_right a:hover,.logo_right a:active{
    color:#666;
    text-decoration: underline;
    font-size: 16px;
}
.w_picBox{
    overflow: hidden;
    border: 2px dashed #ffffff ;
    border-radius:10px 10px 10px 10px;
    width:760px;
    margin: 32px 0 0 140px;
}
.copyright{
    height: 36px;
    margin: 10px auto;
}
.copyright .author,.copyright .date{
    line-height: 36px;
    margin: 50px auto;
    text-align: center;
    display: block;
    font-size: 16px;
    color: #e8e8e8;
}